<!doctype html>
<html lang="en">
<head>
<title>Agora</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

</style>
</head>

    <body style="background-color:#D3D3D3;">>
    <header>
  <h1>Welcome to Agora!</h1>
        <figure>
          <img src="AgoraLogo.png" alt="Italian Trulli">
        </figure>
</header>
<h1 style="text-align:center"> Agora is a web platform that analyzes your companies
communication patterns,</h1>
<h1 style="text-align:center"> using state of the art graph neural network</h1>


    </body>
</html>
