<!doctype html>
<html lang="en">
<head>
<title>Agora</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/style.css" rel="stylesheet" type="text/css" media="all">

</head>
    <header>
    <h1>Welcome to Agora!</h1>
          <a href="predict">
            <img src="../static/AgoraLogo.png" alt="Italian Trulli">
          </a>
    </header>

    <body style="background-color:#D3D3D3;">
    <h1 style="text-align:center"> Agora is a web platform that analyzes your companies
    communication patterns,</h1>
    <h1 style="text-align:center"> using state of the art graph neural networks</h1>

    <p style="text-align: center;">
    Curious to learn more? Than checkout our <a href="http://github.com/mapa17/agora"><img src="../static/GitHub.png" width="100px"></a>
    </p>
    </body>
</html>
