<!doctype html>
<html>

<head>
<title>Agora</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body style="background-color:#D3D3D3;">
    <header>
        <figure>
          <img src="/static/AgoraLogo.png" alt="Agora">
        </figure>
</header>
    <body>
        <h2> Upload csv files and predict which employees are lonely</h2>
        <form method=post enctype=multipart/form-data>
            <label for=file_com>Communications:</label>
            <input type=file id=file_com name=file_com>
            <br><br>
            <label for=file_emp>Employees:</label>
              <input type=file id=file_emp name=file_emp>
            <br><br>
              <input type=submit value=Predict>
        </form>
    </body>
</html>
